---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<!-- Logo -->
  <img src="/TheAIBLUF/The-AI-BLUF.jpg" alt="Logo" class="logo" />
			
			<p>
				Stay ahead with quick, actionable AI insights and tools that streamline decision-making, reduce time to market, and increase quality. Each post provides essential takeaways so you can make informed, impactful decisions without wasting time.
			</p>
			<p>
				We cut through the noise, delivering AI insights and tools designed for busy executives. Get the Bottom Line Up Front (BLUF) and start making better decisions faster.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
